{% extends 'base.html' %}

{% block page_content %}
<!--Details Page-->
<section id="detailsPage">
    <div class="wrapper">

        <div class="albumCover">
            <!-- Album Image -->
{#            <img src="/staticfiles/images/Lorde.jpg" alt="Cover Image">#}
            <img src="{{ album.album_image_url }}" alt="{{ album.album_name }}">
        </div>

        <div class="albumInfo">

            <div class="albumText">
                <!-- Album Info -->
                <h1>Name: {{ album.album_name }}</h1>
                <h3>Artist: {{ album.album_artist }}</h3>
                <h4>Genre: {{ album.album_genre }}</h4>
                <h4>Price: {{ album.album_price | floatformat:2 }}</h4>
                {% if album.album_description %}
                    <p>Description: {{ album.album_description }}</p>
                {% endif %}
            </div>

            <div class="actionBtn">
                <!-- Album Buttons -->
                <a href="{% url 'edit album' pk=album.pk %}" class="edit">Edit</a>
                <a href="{% url 'delete album' pk=album.pk %}" class="remove">Delete</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}
